@page "/"
@using GeoIP.Shared.Models
@using Newtonsoft.Json
@inject HttpClient Http

<h1 xmlns="http://www.w3.org/1999/html">Get location by ip</h1>

<input @bind="@_requestedIp" placeholder="Enter ip">
<button class="btn btn-primary" @onclick="@GetInfoAsync">Check</button>
<hr/>

<p style="display: @_contentError">Error:  @_errorInfo</p>

<div class="control" style="display: @_content">
    <p>Longitude:  @_responseInfo?.Longitude</p>
    <p>Latitude:  @_responseInfo?.Latitude</p>
    <p>Radius:  @_responseInfo?.AccuracyRadius</p>
    <p>Continent:  @_responseInfo?.Location.ContinentName</p>
    <p>Country:  @_responseInfo?.Location.CountryName</p>
    <p>ISO:  @_responseInfo?.Location.CountryIsoCode</p>
    <p>City:  @_responseInfo?.Location.CityName</p>
    <p>Time zone:  @_responseInfo?.Location.TimeZone</p>
    <p>Postal Code:  @_responseInfo?.PostalCode</p>
</div>

<div class="control" style="display: @_content">
    <p>Raw json:</p>
    <p style="word-wrap: break-word">@_jsonString</p>
</div>


@code {
    private string? _requestedIp;
    private string? _errorInfo;
    private string? _jsonString;
    private Block? _responseInfo;
    private string? _content = "block";
    private string? _contentError = "none";

    private async Task GetInfoAsync()
    {
        var response = await Http.GetAsync($"api/geolocationbyip/{_requestedIp}");
        _jsonString = await response.Content.ReadAsStringAsync();

        if (response.IsSuccessStatusCode)
        {
            _responseInfo = JsonConvert.DeserializeObject<Block?>(_jsonString);
            _content = "block";
            _contentError = "none";
        }
        else
        {
            _errorInfo = _jsonString;
            _content = "none";
            _contentError = "block";
        }
    }
}